html {
    background-color: rgba(219, 219, 219, 0.795);
}

body{}


.container{
    display: flex;

}

.blueBackground{
    display: block;
    min-width: 190px; 
    margin-left: 15%;
    width:15%;
    height:auto;
    background-color: #1d1d1d;
    align-items: center;
    box-shadow: 0 0px 3px 0 rgb(8, 8, 8);
}

.fundo{

    height:auto;
    margin-right: 15%;
    background-color: rgba(255, 252, 252, 0.795);
    box-shadow: 0 0px 3px 0 rgb(0, 0, 0);
}

#me {
    border-radius: 80%;
    max-width: 160px;
    border: 1px solid  #1d1d1d;
    margin-left: 10%;
    

}

.nameID{
    font-family: 'Space Grotesk', sans-serif;
    font: bold;
    font-size:17px; 
    margin-top:-10px;
    margin-bottom:0px;
    text-align:center;
    color:rgb(255, 255, 255);

}

.textClass{
    border-bottom:1px solid;
    font-family: "Courier";
    font-size:12px; 
    color:white;
    text-align: center;

}

.textResume{
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 25px;
    margin-right: 25px;
    font-size:16px; 
    color:rgb(10, 10, 10);

}

.tituloDL{
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 25px;
    margin-right: 25px;
    font-size:16px; 
    color:rgb(0, 0, 0);
}

#projectIcon{
    margin-top:-17px;
    display:flex;
}


.tituloDL:hover{
    text-decoration: underline ;
    font-size:18px;
    font-weight: bold;
}

.tituloResume{
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 25px;
    margin-right: 25px;
    font-size:19px; 
    border-bottom:1px solid ; 
}
.social{

  margin-top:-6px;
    font-family: 'Space Grotesk', sans-serif;
    font-size:20px; 
    color:white;
    text-align: center;
    margin-bottom:-6px;
}

.fa-solid{
    float:left;
    display:flex;
    align-items: center;
    margin-left: 4px;
    color:rgb(255, 255, 255);
}

.fa-brands{
    float:left;
    display:flex;
    align-items: center;
    margin-left: 4px;
    color:rgb(255, 255, 255);
}

.info{
    margin-left:25px;
    font-family: "Courier";
    font-size:10.5px; 
    color:white;
    text-align:center;
}

  .info-linguagens {
    font-family: "Courier";
    font-size:10.5px; 
    color:white;

}


a:hover{
    color:rgb(238, 107, 255);
}


.fa-whatsapp{
    margin-top: 9px;
    margin-right:23.5px;
color:rgb(117, 241, 117);
}

.fa-github{
    margin-top: 9px;
    margin-left:23.5px;
    margin-right:23.5px;
    color:black;
}
.fa-linkedin{
    margin-top: 9px;
    margin-right:23.5px;
    color:rgb(3, 64, 156);
    margin-bottom: 25px;
}

.fa-github:hover,.fa-linkedin:hover,.fa-whatsapp:hover{

    color:rgb(69, 211, 247);

}
#me:hover{
    background-color:rgb(212, 212, 212);

}

.titulo{
    text-align: center;
}

.dd{
   margin-left:50px;
   font-family: 'Space Grotesk', sans-serif;
   margin-right: 25px;
   font-size:16px; 
   color:rgb(0, 0, 0);
}

.fa-code{
    background-color: rgb(204, 204, 204);
    margin-left:-15px;
}
